# Auto detect text files and perform LF normalization
* text=auto

# Ignore all test and documentation
/.gitattributes         export-ignore
/.gitignore             export-ignore
/.scrutinizer.yml       export-ignore
/.editorconfig          export-ignore
/.github                export-ignore
