.bard-fieldtype .ProseMirror {
  outline: 0;
}

.bard-fieldtype .ProseMirror > {
  p {
    color: #19292f;
    word-break: break-all;
    word-break: break-word;

    line-height: 1.7;
    text-size-adjust: 100%;
  }

  blockquote,
  ol,
  p,
  ul {
    margin-top: 0;
    margin-bottom: 0.85em;

    b,
    strong {
      font-weight: 700;
    }

    em,
    i {
      font-style: italic;
    }

    a {
      color: #19a1e6;
      text-decoration: underline;
      overflow-wrap: break-word;
    }

    a:active,
    a:focus,
    a:hover {
      outline: 0;
      text-decoration: underline;
    }

    img {
      border: 0;
      max-width: 100%;
    }
  }

  blockquote,
  blockquote ol li,
  blockquote ul li,
  ol li,
  ul li {
    > p {
      margin-top: 0;
      margin-bottom: 0.85em;
    }
  }

  hr {
    background-color: #a7b3be;
    height: 4px;
    padding: 0;
    margin: 1.7em 0;
    overflow: hidden;
    border: none;
  }

  hr:after,
  hr:before {
    display: table;
    content: " ";
  }

  hr:after {
    clear: both;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1.275em;
    margin-bottom: 0.85em;
    font-weight: 700;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.75em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.25em;
  }

  h5 {
    font-size: 1em;
  }

  h6 {
    font-size: 1em;
    color: #73808c;
  }

  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child {
    margin-top: 0;
  }

  ul,
  blockquote ul,
  .tableWrapper table ul {
    list-style-type: disc;
  }

  ol,
  blockquote ol,
  .tableWrapper table ol {
    list-style-type: decimal;
  }

  ol,
  ul,
  blockquote ol,
  blockquote ul {
    padding: 0;
    margin: 0;
    margin-bottom: 0.85em;
    padding-left: 2em;
  }

  .tableWrapper table ol,
  .tableWrapper table ul {
    padding: 0;
    margin: 0;
    padding-left: 2em;
  }

  ol ol,
  ol ul,
  ul ol,
  ul ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 2em;
  }

  ul ul {
    list-style-type: circle;
  }

  ol ol {
    list-style-type: decimal;
  }

  ul ol {
    list-style-type: decimal;
  }

  ol ul {
    list-style-type: circle;
  }

  blockquote {
    color: #1c2e36;
    border-left: 4px solid #19a1e6;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 0 0 0.85em;
  }

  blockquote:first-child {
    margin-top: 0;
  }

  blockquote:last-child {
    margin-bottom: 0;
  }

  .tableWrapper table,
  blockquote > .tableWrapper table,
  ol li > .tableWrapper table,
  ul li > .tableWrapper table {
    width: 100%;
    overflow: hidden;
    margin: 0 0 8px 0;
    background-color: #fff;
    font-size: 14px;
    border-collapse: collapse;
    table-layout: fixed;

    th {
      font-weight: 700;
      text-align:left;
      background-color: #f5f8fc;
    }

    td,
    th {
      border-width: 1px;
      vertical-align: top;
      position: relative;
      padding: 0.25rem;
      min-width: 1em;
    }

    .selectedCell {
      position: relative;

      &:after {
        position: absolute;
        inset: 0px;
        pointer-events: none;
        opacity: 0.25;
        background-color: ädde3e9;
        content: "";
      }
    }

    a {
      color: #19a1e6;
      text-decoration: underline;
      overflow-wrap: break-word;
    }

    a:active,
    a:focus,
    a:hover {
      outline: 0;
      text-decoration: underline;
    }
  }

  p > code {
    background-color: #dde3e9;
    border-radius: 0.125rem;
    font-size: 13px;
    position: relative;
    font-family: 'Menlo, Monaco, monospace';
    padding: 2px 4px;
    top: -1px;
  }

  pre {
    margin-bottom: 0.85em;
  }

  pre code {
    background-color: #dde3e9;
    font-family: 'Menlo, Monaco, monospace';
    font-size: 13px;
    display: block;
    padding: 0.5rem;
    border-radius: 0.25rem;
    width: 100%;
    line-height: 1.8;
  }
}
